/* Основний шрифт */
@font-face {
    font-family: 'GT Walsheim Pro';
    src: local("GT Walsheim Pro Regular"), local("GTWalsheimProRegular"), 
         url(GTWalsheimProRegular.woff2) format("woff2"),
         url(GTWalsheimProRegular.woff) format("woff"),
         url(GTWalsheimProRegular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: local("GT Walsheim Pro Bold"), local("GTWalsheimProBold"), 
         url(GTWalsheimProBold.woff2) format("woff2"),
         url(GTWalsheimProBold.woff) format("woff"),
         url(GTWalsheimProBold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

$colorWhite: #ffffff;
$colorBlack: black;
$colorYellow: #FFB748;

/* Загальні стилі */ 
body {
    background-color: black!important;
    font-family: 'GT Walsheim Pro', sans-serif;
    font-weight: 400;
}

.header {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;

            .header-name,
            .header-request,
            .header-number {
                text-decoration: none;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 1px;
                cursor: pointer;
            }

            .header-request,
            .header-number {
                margin-left: 20px;
            }
            
            .header-name {
                background-image: linear-gradient(86.44deg, #B66ED4 5.86%, #FFDD3D 94.14%);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                margin-right: auto; /* Розміщує .header-name зліва */
            }

            .header-request {
                color: $colorWhite;
            }

            .header-number {
                color: $colorYellow;
            }
        }

.header-preview {

    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;

    .header-preview-main-text {
        font-size: 70px;

        .yellow-text {
            color: $colorYellow;
        }

        .white-teßxt {
            color: $colorWhite;
        }
    }
}


