/* Основний шрифт */
@font-face {
    font-family: 'GT Walsheim Pro';
    src: local("GT Walsheim Pro Regular"), local("GTWalsheimProRegular"), 
         url(GTWalsheimProRegular.woff2) format("woff2"),
         url(GTWalsheimProRegular.woff) format("woff"),
         url(GTWalsheimProRegular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: local("GT Walsheim Pro Bold"), local("GTWalsheimProBold"), 
         url(GTWalsheimProBold.woff2) format("woff2"),
         url(GTWalsheimProBold.woff) format("woff"),
         url(GTWalsheimProBold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

$colorWhite: #ffffff;
$colorBlack: black;
$colorYellow: #FFB748;

/* Загальні стилі */ 
body {
    background-color: black!important;
    font-family: 'GT Walsheim Pro', sans-serif;
    font-weight: 400;
}

.yellow-text {
    color: $colorYellow;
}

.white-text {
    color: $colorWhite;
}

.header {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;

    .header-name {
        background-image: linear-gradient(86.44deg, #B66ED4 5.86%, #FFDD3D 94.14%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        margin-right: auto; 
    }

    .burger-menu {
        display: none;
        flex-direction: column;
        cursor: pointer;

        span {
            width: 25px;
            height: 3px;
            background-color: #fff;
            margin: 4px 0;
        }
    }

    .menu-items {
        display: none; /* Приховане за замовчуванням */
        flex-direction: column;
        position: absolute;
        top: 17%; /* Розташування по вертикалі */
        left: 50%; /* Розташування по горизонталі */
        transform: translate(-50%, -50%) scale(0); /* Початковий стан — зменшений масштаб */
        background-color: #000; /* Фон меню */
        padding: 20px;
        border-radius: 8px;
        opacity: 0; /* Непрозорість = 0 */
        transition: opacity 4.5s ease-in-out, transform 5.5s ease-in-out; /* Плавніший перехід */
        
        a {
            text-decoration: none;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 1px;
            margin: 10px 0;
            color: $colorWhite; /* Білий текст */
        }
    }

    @media (max-width: 800px) {
        .burger-menu {
            display: flex;
        }

        .menu-items.active {
            display: flex; /* Показуємо меню при активному стані */
            opacity: 1; /* Прозорість 100% */
            transform: translate(-50%, -50%) scale(1); /* Повернення до початкового масштабу */
        }
    }

    @media (min-width: 800px) {
        .menu-items {
            display: flex; /* Показуємо меню на більших екранах */
            position: static;
            opacity: 1;
            transform: none;
            background-color: transparent;
            padding: 0;
            flex-direction: row;

            a {
                margin: 0 10px;
            }
        }
    }
}

.header-preview {
    background-color: #1A1A1A;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 50px;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeIn 1.5s ease-in-out forwards;

    .content-preview {
        padding: 20px 50px;
        display: flex;
        flex-direction: row;
        align-items: center; /* Центрування по горизонталі */
        text-transform: uppercase;
        font-weight: 700;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        .header-preview-main-text {
            font-size: 5vw;

            .yellow-text {
                @extend .yellow-text;
            }

            .white-text {
                @extend .white-text;
            }
        }

        img {
            max-width: 100%;
            height: auto;
            margin-top: 20px;
        }
    }

    /* Ефект при наведенні */
    &:hover {
        transform: scale(1.05); /* Збільшуємо блок при наведенні */
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); /* Додаємо тінь */
    }

    /* Медіа-запити для адаптивності */
    @media (max-width: 1200px) {
        .content-preview {
            padding: 15px 30px;

            .header-preview-main-text {
                font-size: 5vw;
            }
        }
    }

    @media (max-width: 800px) {
        margin-top: 100px;
        .content-preview {
            flex-direction: column;
            padding: 10px 20px;

            .header-preview-main-text {
                font-size: 4.5vw;
            }
        }
    }

    @media (max-width: 600px) {
        margin-top: 70px; 
        .content-preview {
            padding: 5px 15px;

            .header-preview-main-text {
                font-size: 4vw;
            }
        }
    }

    @media (max-width: 400px) {
        margin-top: 50px;
        .content-preview {
            padding: 5px 10px;

            .header-preview-main-text {
                font-size: 3.5vw;
            }
        }
    }

    /* Анімація при завантаженні */
    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(50px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}


 // Основний текст блок

 .main-text {
    margin-top: 150px;
    opacity: 0; /* Початкова прозорість */
    transform: translateY(50px); /* Початковий зсув вниз */
    animation: fadeInUp 1.5s ease-in-out forwards; /* Анімація */

    .terms-text {
        font-size: 100px;
        font-weight: 900;
        
    }

    @media screen and (max-width: 1200px) {
        text-align: center;

        .terms-text {
            font-size: 50px;
        }
    }

    /* Анімація при завантаженні */
    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translateY(50px); /* Початковий зсув вниз */
        }
        100% {
            opacity: 1;
            transform: translateY(0); /* Кінцеве положення */
        }
    }
}

// Блок співробітника / опис текст | фото

.employers {
    margin-top: 150px;

    @media screen and (max-width: 999px) {
        text-align: center;
    }

    .employers-main-text {
        font-size: 70px;
        font-weight: 800;
    }

    .block-employers {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap; // Додає перенос для елементів, якщо це потрібно

        .text-employers {
            flex: 2; // Задає тексту частину простору
            margin-right: 2em; // Відстань між текстом і зображенням

            .employers-desc-text {
                font-size: 36px;
                line-height: 48px;
                font-weight: 600;
                color: #C4C4C4;
            }
        }

            @media screen and (max-width: 999px) {
                .img-block {
                    flex: 1 1 calc(50% - 1em); // Зображення займають по 50% ширини
                }
            }
        }

        .img-work-container {
            flex: 1; // Задає зображенням частину простору
            margin: 1em; // Відстань між контейнерами зображень



            img {
                display: block; // Зображення блочне, щоб уникнути проблем з відступами
                margin: 0 auto; // Вирівнює зображення по центру
                max-width: 100%; // Забезпечує адаптивність по ширині
                height: auto; // Висота автоматично змінюється пропорційно
                object-fit: cover; // Якщо потрібно обрізати зображення для збереження співвідношення сторін
            }
        
            figcaption {
                font-size: 20px; // Зменшений розмір шрифту для підписів
                color: $colorWhite; // Колір тексту підписів
                text-align: center; // Вирівнювання підписів по центру
                margin-top: 0.5em; // Відстань між зображенням та підписом

            } 

            .position {
                font-size: 15px;
                color: #C4C4C4;
            }
        }
    }

    @media screen and (max-width: 999px) {
        .block-employers {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center; // Вирівнює зображення по центру в колонці
        }
    }

    .block-employers-img {
        display: flex;
        margin-top: 50px;
        flex-wrap: wrap; // Дозволяє переносити елементи на новий рядок
        justify-content: space-between; // Додає відступи між елементами
        gap: 1em; // Відстань між зображеннями

    
        .img-work-container {
            flex: 1 1 calc(15% - 1em); // Зображення займають по 25% ширини з відступами
            display: flex;
            flex-direction: column;
            align-items: center; // Вирівнює зображення та підписи по центру
            margin-bottom: 1em; // Відстань між рядками
        
            img {
                display: block; // Зображення блочне, щоб уникнути проблем з відступами
                max-width: 100%; // Забезпечує адаптивність по ширині
                height: auto; // Висота автоматично змінюється пропорційно
                object-fit: cover; // Якщо потрібно обрізати зображення для збереження співвідношення сторін
            }
        
            figcaption {
                font-size: 20px; // Розмір шрифту для підписів
                color: $colorWhite; // Колір тексту підписів
                text-align: center; // Вирівнювання підписів по центру
                margin-top: 0.5em; // Відстань між зображенням та підписом
            }
    
            .position {
                font-size: 15px;
                color: #C4C4C4;
            }
        }
    
        // Відображення двох фото в ряд на малих екранах
        @media screen and (max-width: 999px) {
            .img-work-container {
                flex: 1 1 100%; // Зображення займають по 50% ширини
            }
        }
    
        // Для екранів ще меншого розміру
        @media screen and (max-width: 480px) {
            .img-work-container {
                flex: 1 1 calc(25% - 1em) // Зображення займають всю ширину на маленьких екранах
            }
        }
    }


